# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
**/build/

# IDE - IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
.idea_modules/

# IDE - VS Code
.vscode/
*.code-workspace

# OS specific
.DS_Store
Thumbs.db

# Kotlin
*.class
*.log
hs_err_pid*
replay_pid*

# Local configuration file
local.properties

/cockpit-ui/node_modules/
/cockpit-ui/dist/
